@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap");

*,
:root {
  margin: 0;
  padding: 00;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

main {
  margin: 0 auto 64px;
  padding: 20px;
  max-width: 640px;
}

header {
  margin-top: 64px;
  padding-bottom: 24px;
  border-bottom: 1px solid #334155;
}

header h1 {
  font-size: 30px;
}

#acertos {
  text-align: center;
  background: #a3e635;

  /* posiciona fixado na página */
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px;
}
